@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  --displayheight: calc(100vh - 8.5vh);
  --coursetableH: calc(100vh - 26vh);
  --tlistH: calc(100vh - 56vh);
  --tprolistH: calc(100vh - 52.1vh);
  --height: calc(100vh - 32.5vh);
}

@theme {
  --color-theme: #FFAC59;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE และ Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
